.food-item{
    width: 100%;
    height: 100%;
    margin:auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000015;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1s;
    display: flex; /* Ensures content within the card is aligned properly */
    flex-direction: column; /* Makes sure the content aligns in a column */
    justify-content: space-between; /* Adjusts the space between content if needed */
    align-items: center; 
}

.food-item-image{
    width: 100%;
    border-radius: 14px 14px 0px 0px;
}
.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size:20px;
    font-weight: 500;
}
.food-item-name-rating img{
    width:70px;
}
.food-item-desc{
    color:#676767;
    font-size:12px;
}
.food-item-price{
color:tomato;
font-size: 22px;
font-weight: 500;
margin:10px 0px;
}

.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width:35px;
    cursor:pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right:15px;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
    cursor: pointer;
    width: 30px;
}